/* Center everything */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
    min-height: 100vh;
}

/* Card Style */
.todo-card {
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(171, 56, 56, 0.1);
  
}

/* Input Style */
.custom-input {
  border: 1px solid #060606;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Button */
.add-btn {
  margin-bottom: 15px;
  --border-radius: 10px;
}

/* Task Item */
.task-item {
  border-radius: 10px;
  margin-bottom: 8px;
  --background: #cac0c0;
}